{{! Template for the frost-chart-axis component }}
<div class='{{css}}-label'>{{label}}</div>

<div class='{{css}}-ticks'>
  {{#each _positionedTicks key='index' as |tick|}}
    {{#frost-chart-axis-tick
      axis=_axis
      coordinate=tick.coordinate
      dispatch=dispatch
      hook=(concat hookPrefix '-tick')
      hookQualifiers=(hash
        index=tick.index
      )
    }}
      {{#if hasBlock}}
        {{yield tick.value}}
      {{else}}
        {{tick.value}}
      {{/if}}
    {{/frost-chart-axis-tick}}
  {{/each}}
</div>
