{{! Template for the frost-chart-x-axis-svg component }}
<div class='{{css}}-label'>{{label}}</div>

<svg width={{_svgWidth}} height={{_svgHeight}} class='{{css}}-ticks'>
  {{#each _positionedTicks key='@index' as |tick|}}
    {{#frost-chart-axis-tick-svg
      axis=_axis
      coordinate=tick.coordinate
      dispatch=dispatch
      hook=(concat hookPrefix '-tick')
      hookQualifiers=(hash
        index=tick.index
      )
    }}
      {{#if hasBlock}}
        {{yield tick.value}}
      {{else}}
        {{tick.value}}
      {{/if}}
    {{/frost-chart-axis-tick-svg}}
  {{/each}}
</svg>
