<svg
  height='{{size}}'
  width='{{size}}'
  viewPort='0 0 {{size}} {{size}}'
  version='1.1'
  xmlns='http://www.w3.org/2000/svg'>
  <circle
    fill='transparent'
    class='{{css}}-track'
    cx={{center}}
    cy={{center}}
    r={{radius}}
    stroke-dasharray='{{circumference}}'>
  </circle>
  {{#if arcs}}
    {{#each arcs as |arc|}}
      <circle
        transform='{{arc.transform}}'
        stroke='{{arc.color}}'
        fill='transparent'
        class='{{css}}-fill {{arc.class}}'
        cx={{center}}
        cy={{center}}
        r={{radius}}
        stroke-dasharray='{{circumference}}'
        stroke-dashoffset='{{arc.offset}}'>
      </circle>
    {{/each}}
  {{/if}}
</svg>
{{#if displayText}}
  <div class='{{css}}-text'>{{displayText}}</div>
{{/if}}
{{yield}}
