<div class='demo-row'>
  {{#frost-chart
    class='demo-flex'
    hook='demo-power'
    xDomain=xDomain
    yDomain=yDomain
    yScale=(d3-linear-scale)
    as |chart|
  }}
    {{#chart.x-axis label='Bar' as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.x-axis}}

    {{#chart.y-axis as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.y-axis}}

    {{#chart.svg as |plot|}}
      {{plot.x-grid}}
      {{plot.y-grid}}

      {{#plot.bar data=data x='x' y='y' as |bar|}}
        <rect x={{bar.x}} y={{bar.y}} width={{bar.width}} height={{bar.height}} />
      {{/plot.bar}}
    {{/chart.svg}}
  {{/frost-chart}}

  {{#frost-chart
    class='demo-flex'
    hook='demo-power'
    xDomain=xDomain
    yDomain=yDomain
    yScale=(d3-linear-scale)
    as |chart|
  }}
    {{#chart.x-axis-svg label='Line' alignment='top' offset=-6 as |tick|}}
      <text x=-7 y=0>Foo {{to-fixed tick 0}}</text>
      <line x1=0 y1=0 x2=0 y2=20 />
    {{/chart.x-axis-svg}}

    {{#chart.y-axis as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.y-axis}}

    {{#chart.svg as |plot|}}
      {{plot.x-grid}}

      {{plot.line data=data x='x' y='y'}}
    {{/chart.svg}}
  {{/frost-chart}}
</div>

<div class='demo-row'>
  {{#frost-chart
    class='demo-flex'
    hook='demo-power'
    xDomain=xDomain
    yDomain=yDomain
    yScale=(d3-linear-scale)
    as |chart|
  }}
    {{#chart.x-axis label='Scatter' as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.x-axis}}

    {{#chart.y-axis as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.y-axis}}

    {{#chart.svg as |plot|}}
      {{plot.x-grid}}
      {{plot.y-grid}}

      {{#plot.scatter data=data x='x' y='y' as |point|}}
        <circle cx={{point.x}} cy={{point.y}} r=4 fill='red' />
      {{/plot.scatter}}
    {{/chart.svg}}
  {{/frost-chart}}

  {{#frost-chart
    class='demo-flex'
    hook='demo-power'
    xDomain=xDomain
    yDomain=yDomain
    yScale=(d3-linear-scale)
    as |chart|
  }}
    {{#chart.x-axis label='Area' as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.x-axis}}

    {{#chart.y-axis as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.y-axis}}

    {{#chart.svg as |plot|}}
      {{plot.x-grid}}
      {{plot.y-grid}}

      {{plot.area data=data x='x' y='y'}}
    {{/chart.svg}}
  {{/frost-chart}}
</div>

<div class='demo-row'>
  {{#frost-chart
    class='demo-flex'
    hook='demo-power'
    xDomain=xDomain
    yDomain=yDomain
    yScale=(d3-linear-scale)
    as |chart|
  }}
    {{#chart.x-axis label='Bounded area' as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.x-axis}}

    {{#chart.y-axis as |tick|}}
      {{to-fixed tick 0}}
    {{/chart.y-axis}}

    {{#chart.svg as |plot|}}
      {{plot.x-grid}}
      {{plot.y-grid}}

      {{plot.area boundingData=boundingData data=data x='x' y='y'
        area=(line-bounded-area)
      }}
    {{/chart.svg}}
  {{/frost-chart}}
</div>
<div class="demo-row">
  {{frost-guage hook='demo-guage' orientation=0 direction='clockwise' data=arcData min=0 max=100 size=150 text='Guage'}}
</div>
